* {
    margin: 0;
}

body {
    font-family: "Gowun Batang", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

header {
    padding: 0.5rem;
    background-color: #4e2d72;
}

header>h1 {
    display: inline-block;
    padding: 1rem;
    color: white;
}

h1,
h2,
h3,
h4 {
    font-family: "Noto Sans", sans-serif;
    color: #4e2d72;
}

main {
    max-width: 960px;
    margin: auto;
}

h2 {
    margin-top: 1rem;
}

h3 {
    margin-top: 0.5rem;
}

.background {
    background-color: #feb065;
    padding: 1.5rem;
    margin: auto;
    margin-top: 1rem;
    max-width: 800px;
}

.background h3 {
    margin: 0;
}

ul {
    display: inline-block;
}

li {
    text-align: left;
    color: #4e2d72;
}

.colors {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.colors td {
    width: 25%;
    height: 3em;
}

.primary {
    background-color: #4e2d72;
}

.secondary {
    background-color: #feb065;
}

hr {
    border: none;
    border-top: 1px solid #4e2d72;
    margin: auto;
    margin-top: 1rem;
}

p.colored {
    background-color: #feb065;
    color: var(--primary-color);
    padding: 1rem;
}

nav {
    background-color: #4e2d72;
    line-height: 3rem;
    text-align: center;
    font-size: 1.2rem;
    list-style-type: none;
    display: flex;
}

nav a {
    padding: 1rem;
    min-width: 120px;
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;
    padding: 10px;
    color: white;
}

nav a:hover {
    text-decoration: overline wavy;
}

.active {
    color: #feb065;
}

img {
    display: block;
    border: 1px solid #4e2d72;
    width: 100%;
    height: auto;
}

footer {
    margin-top: 1rem;
    padding: 1.5rem;
    background-color: #4e2d72;
    color: white;
}