@media (min-width: 653px) {
    .navigation {
        display: flex;
    }

    .navigation a {
        display: block;
    }

    #menu {
        display: none;
    }

    #grid-three {
        grid-template-columns: repeat(3, 1fr);
    }

    #hero {
        grid-column: span 3;
    }

    .card-grid {
        grid-column: span 3;
    }

    .weather {
        grid-column: span 3;
    }

    #spotlight-title {
        grid-column: span 3;
    }

    #grid-two {
        grid-template-columns: 350px auto;
        column-gap: 1rem;
        text-align: left;
    }

    .images {
        grid-column: 2/3;
        grid-row: 1/5;
    }

    .student-info {
        display: flex;
        justify-content: space-evenly;
    }

    .student-info p.breaker {
        display: inline;
    }
}