@media (min-width: 653px) {
    .navigation {
        display: flex;
    }

    .navigation a {
        display: block;
    }

    #menu {
        display: none;
    }

    .card-grid {
        grid-template-columns: 1fr 1fr;
    }

    #spotlight {
        grid-template-columns: repeat(3, 1fr);
    }

    .spotlight {
        padding: 1rem;
        background-color: #feb065;
        border-top: 1px solid #4e2d72;
        border-left: 1px solid #4e2d72;
        border-right: none;
        border-bottom: 1px solid #4e2d72;
    }

    .spotlight:last-of-type {
        border-right: 1px solid #4e2d72;
    }

    #spotlight-title {
        display: none;
    }

    #grid-two {
        grid-template-columns: 350px auto;
        column-gap: 1rem;
        text-align: left;
    }

    #last-visited {
        grid-column: span 2;
    }

    .images {
        grid-column: 2/3;
        grid-row: 2/6;
    }

    .images img {
        animation: shadow-none 0.5s;
    }

    .images img:hover {
        animation: shadow 0.5s;
        box-shadow: 0 0 10px 1px #4e2d72;
    }

    .ccf {
        grid-template-columns: 400px auto;
        column-gap: 1rem;
        align-items: end;
    }

    .ccf label {
        grid-column: 1/2;
    }

    #membership-benefit {
        display: block;
        padding-bottom: 0.5rem;
        grid-column: 2/3;
        grid-row: 7/8;
    }

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    div.grid>div>p:first-child {
        display: none;
    }

    .list div {
        grid-template-columns: 160px 1fr 160px 1fr;
    }

    .contact-info {
        align-items: center;
    }

    .contact-info p:first-of-type {
        align-self: self-end;
    }

    .contact-info p:last-of-type {
        align-self: self-start;
    }

    .student-info {
        display: flex;
        justify-content: space-evenly;
    }

    .student-info p.breaker {
        display: inline;
    }
}

@keyframes shadow {
    0% {
        box-shadow: none;
    }

    100% {
        box-shadow: 0 0 10px 1px #4e2d72;
    }
}

@keyframes shadow-none {
    0% {
        box-shadow: 0 0 10px 1px #4e2d72;
    }

    100% {
        box-shadow: none;
    }
}