@media (min-width: 653px) {
    .navigation {
        display: flex;
    }

    .navigation a {
        display: block;
    }

    #menu {
        display: none;
    }

    .student-info {
        display: flex;
        justify-content: space-evenly;
    }

    .student-info p.breaker {
        display: inline;
    }
}