body {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

header {
    padding: 1rem;
    background-color: rgb(70, 70, 70);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
}

header img {
    margin-left: auto;
    margin-right: 1rem;
    border-radius: 2px;
}

header span {
    display: inline;
    margin-right: auto;
    margin-left: 1rem;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

nav {
    background-color: black;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none
}

nav.open a {
    display: block;
}

nav a {
    display: none;
    padding: 1rem;
    color: #fff;
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: overline double;
    background-color: gray;
    border: 1px solid white;
}

.active::before {
    content: "<<";
}

.active::after {
    content: ">>";
}

#menu {
    padding: 1rem;
    font-size: 1.5rem;
    font-family: monospace;
    border: 0;
    background: none;
    color: #fff;
    appearance: none;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    margin-left: 0.25rem;
    content: "X";
}

main {
    display: grid;
    margin: auto;
    padding: 1.5rem;
    column-gap: 20px;
    row-gap: 20px;
}

main h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: larger;
    text-align: center;
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid #000;
}

.card {
    border: 1px solid rgb(70, 70, 70);
    border-radius: 5px;
    overflow: hidden;
}

.card h2 {
    text-align: center;
    background-color: rgb(70, 70, 70);
    color: white;
    margin: auto;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.card ul {
    margin: 1.5rem;
    list-style-type: none;
}

.card li {
    margin: 0.5rem auto;
}

.card p {
    margin: 1.5rem auto;
    text-align: center;
}

footer {
    background-color: rgb(70, 70, 70);
    padding: 20px;
}

footer p {
    margin: auto;
    text-align: center;
}

footer p:first-of-type {
    font-size: 1.3rem;
    color: white;
}

footer img {
    vertical-align: middle;
    padding-left: 1rem;
    border-radius: 2px;
}

#lastModified {
    color: aquamarine;
    font-size: 1rem;
    margin-top: 5px;
}