@media screen and (min-width: 640px) {
    header img {
        box-shadow: 0 0 15px 1px black;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav a {
        display: block;
    }

    #menu {
        display: none;
    }

    main {
        padding-left: 1rem;
        padding-right: 1rem;
        grid-template-columns: 2fr 1fr;
    }

    .hero,
    .title,
    iframe {
        margin: 0;
        grid-column: span 2;
    }

    .title h1 {
        font-size: xx-large;
        text-align: left;
    }

    .card {
        margin: 0;
        box-shadow: 0 0 10px 1px #777;
    }

    .card li {
        font-size: 1.2rem;
    }

    .card p {
        font-size: 1.2rem;
    }
}